{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node",
    "react-loadable/babel",
    "babel-plugin-root-import"
  ]
}
